set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_10_0_ 2 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_11_0_ 2 11 0 #ICE_CARRY_IN_MUX
set_location r_Switch_1_THRU_LUT4_0 1 12 3 #SB_LUT4
set_location r_Count[0] 1 12 7 #SB_DFF
set_location Debounce_Inst.un2_r_count_cry_4_c 2 9 3 #SB_CARRY
set_location Debounce_Inst.r_count[8] 2 9 7 #SB_DFFSR
set_location Debounce_Inst.r_count[10] 2 10 1 #SB_DFFSR
set_location Debounce_Inst.r_state_RNO_1 1 11 3 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[16] 2 10 7 #SB_LUT4
set_location Debounce_Inst.un2_r_count_cry_3_c 2 9 2 #SB_CARRY
set_location Debounce_Inst.un2_r_count_cry_11_c 2 10 2 #SB_CARRY
set_location Debounce_Inst.r_count_RNO[6] 2 9 5 #SB_LUT4
set_location Debounce_Inst.r_count[7] 2 9 6 #SB_DFFSR
set_location r_Count_RNO[3] 1 13 4 #SB_LUT4
set_location SevenSeg1_Inst.r_Hex_Encoding_i[5] 1 16 5 #SB_DFF
set_location SevenSeg1_Inst.r_Hex_Encoding_17_6_0_.r_Hex_Encoding_17_i[4] 1 16 0 #SB_LUT4
set_location Debounce_Inst.r_state_RNO_4 1 10 0 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[13] 2 10 4 #SB_LUT4
set_location Debounce_Inst.r_count[14] 2 10 5 #SB_DFFSR
set_location Debounce_Inst.un2_r_count_cry_2_c 2 9 1 #SB_CARRY
set_location Debounce_Inst.un2_r_count_cry_16_c 2 10 7 #SB_CARRY
set_location Debounce_Inst.r_count_RNO[1] 2 11 4 #SB_LUT4
set_location Debounce_Inst.r_count[2] 2 9 1 #SB_DFFSR
set_location Debounce_Inst.r_count[11] 2 10 2 #SB_DFFSR
set_location r_Switch_1_RNILIIO 1 12 6 #SB_LUT4
set_location SevenSeg1_Inst.r_Hex_Encoding_i[1] 1 13 7 #SB_DFF
set_location Debounce_Inst.r_state_RNO_0 1 11 7 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[17] 2 11 0 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[5] 2 9 4 #SB_LUT4
set_location Debounce_Inst.r_count[6] 2 9 5 #SB_DFFSR
set_location r_Count_RNO[2] 1 13 0 #SB_LUT4
set_location r_Count[3] 1 13 4 #SB_DFF
set_location SevenSeg1_Inst.r_Hex_Encoding_i[4] 1 16 0 #SB_DFF
set_location Debounce_Inst.r_count[15] 2 10 6 #SB_DFFSR
set_location r_Count_RNIEET6[3] 1 13 5 #SB_LUT4
set_location Debounce_Inst.un2_r_count_cry_7_c 2 9 6 #SB_CARRY
set_location Debounce_Inst.un2_r_count_cry_6_c 2 9 5 #SB_CARRY
set_location Debounce_Inst.r_count_RNO[7] 2 9 6 #SB_LUT4
set_location Debounce_Inst.r_count_RNIU83D[4] 1 9 2 #SB_LUT4
set_location Debounce_Inst.r_count[4] 2 9 3 #SB_DFFSR
set_location r_Count_RNO[0] 1 12 7 #SB_LUT4
set_location SevenSeg1_Inst.r_Hex_Encoding_i[2] 1 16 6 #SB_DFF
set_location SevenSeg1_Inst.r_Hex_Encoding_17_6_0_.r_Hex_Encoding_17_i[5] 1 16 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location Debounce_Inst.un2_r_count_cry_1_c 2 9 0 #SB_CARRY
set_location Debounce_Inst.un2_r_count_cry_15_c 2 10 6 #SB_CARRY
set_location Debounce_Inst.r_state_RNO_5 1 11 2 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[12] 2 10 3 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[0] 1 10 2 #SB_LUT4
set_location Debounce_Inst.r_count[17] 2 11 0 #SB_DFFSR
set_location r_Count_RNO_0[3] 1 13 3 #SB_LUT4
set_location SevenSeg1_Inst.r_Hex_Encoding_17_6_0_.m14 1 16 6 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[9] 2 10 0 #SB_LUT4
set_location SevenSeg1_Inst.r_Hex_Encoding_i[0] 1 16 1 #SB_DFF
set_location Debounce_Inst.un2_r_count_cry_9_c 2 10 0 #SB_CARRY
set_location Debounce_Inst.un2_r_count_cry_8_c 2 9 7 #SB_CARRY
set_location Debounce_Inst.un2_r_count_cry_13_c 2 10 4 #SB_CARRY
set_location Debounce_Inst.r_state_RNO_3 1 11 1 #SB_LUT4
set_location Debounce_Inst.r_state 1 11 4 #SB_DFF
set_location Debounce_Inst.r_count_RNO[2] 2 9 1 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[10] 2 10 1 #SB_LUT4
set_location Debounce_Inst.r_count[3] 2 9 2 #SB_DFFSR
set_location Debounce_Inst.un2_r_count_cry_5_c 2 9 4 #SB_CARRY
set_location Debounce_Inst.un2_r_count_cry_12_c 2 10 3 #SB_CARRY
set_location Debounce_Inst.r_state_RNO 1 11 4 #SB_LUT4
set_location Debounce_Inst.un2_r_count_cry_14_c 2 10 5 #SB_CARRY
set_location Debounce_Inst.r_count_RNO[4] 2 9 3 #SB_LUT4
set_location Debounce_Inst.r_count[1] 2 11 4 #SB_DFFSR
set_location r_Count[2] 1 13 0 #SB_DFF
set_location Debounce_Inst.r_count[12] 2 10 3 #SB_DFFSR
set_location SevenSeg1_Inst.r_Hex_Encoding_17_6_0_.r_Hex_Encoding_17_i[3] 1 16 4 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[14] 2 10 5 #SB_LUT4
set_location Debounce_Inst.r_count_RNISLBU[8] 1 9 5 #SB_LUT4
set_location SevenSeg1_Inst.r_Hex_Encoding_17_6_0_.m5 1 16 1 #SB_LUT4
set_location Debounce_Inst.un2_r_count_cry_10_c 2 10 1 #SB_CARRY
set_location Debounce_Inst.r_count_RNO[8] 2 9 7 #SB_LUT4
set_location Debounce_Inst.r_count_RNI5U832[12] 1 9 3 #SB_LUT4
set_location Debounce_Inst.r_count_RNI2BKF1[17] 1 9 7 #SB_LUT4
set_location Debounce_Inst.r_count[5] 2 9 4 #SB_DFFSR
set_location r_Count_RNO[1] 1 13 6 #SB_LUT4
set_location SevenSeg1_Inst.r_Hex_Encoding_i[3] 1 16 4 #SB_DFF
set_location Debounce_Inst.r_state_RNO_2 1 11 6 #SB_LUT4
set_location Debounce_Inst.r_state_RNIOSS74 1 9 4 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[11] 2 10 2 #SB_LUT4
set_location Debounce_Inst.r_count[16] 2 10 7 #SB_DFFSR
set_location r_Switch_1 1 12 3 #SB_DFF
set_location SevenSeg1_Inst.r_Hex_Encoding_17_6_0_.m26 1 16 7 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[3] 2 9 2 #SB_LUT4
set_location Debounce_Inst.r_count[0] 1 10 2 #SB_DFFSR
set_location r_Count[1] 1 13 6 #SB_DFF
set_location SevenSeg1_Inst.r_Hex_Encoding_i[6] 1 16 7 #SB_DFF
set_location Debounce_Inst.r_count[9] 2 10 0 #SB_DFFSR
set_location Debounce_Inst.r_count[13] 2 10 4 #SB_DFFSR
set_location SevenSeg1_Inst.r_Hex_Encoding_17_6_0_.m10 1 13 7 #SB_LUT4
set_location Debounce_Inst.r_count_RNO[15] 2 10 6 #SB_LUT4
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io i_Switch_1 53
set_io o_Segment2_F 8
set_io o_Segment2_D 95
set_io o_Segment2_B 99
set_io i_Clk 15
set_io o_Segment2_E 94
set_io o_Segment2_A 100
