set_location IN_MUX_bfv_11_3_0_ 11 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_4_0_ 11 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_5_0_ 11 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_5_0_ 7 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_6_0_ 7 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_7_0_ 7 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_6_0_ 12 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_7_0_ 12 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_8_0_ 12 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_7_0_ 8 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_8_0_ 8 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_9_0_ 8 9 0 #ICE_CARRY_IN_MUX
set_location LED_Blink_Inst.r_Count_2HZ[0] 11 7 3 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[20] 8 9 3 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_5_c 11 3 4 #SB_CARRY
set_location LED_Blink_Inst.r_Toggle_2HZ_RNO 12 9 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[12] 7 6 3 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ[20] 9 9 0 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNO_0[12] 11 4 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO[0] 8 6 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[6] 7 5 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[14] 11 4 5 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_1hz_cry_21_c 8 9 4 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNO[18] 12 9 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[3] 8 7 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[1] 12 3 4 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_2hz_cry_17_c 12 8 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ[18] 12 9 3 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[1] 9 7 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[8] 11 3 7 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_2hz_cry_10_c 12 7 1 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_8_c 8 7 7 #SB_CARRY
set_location LED_Blink_Inst.r_Count_10HZ_RNO[10] 11 4 1 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_2hz_cry_20_c 12 8 3 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ[18] 7 7 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[23] 8 9 7 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_2hz_cry_18_c 12 8 1 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_1_c 8 7 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO_0[13] 7 6 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO_0[20] 11 5 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO[11] 7 6 2 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_5hz_cry_5_c 7 5 4 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_11_c 12 7 2 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_6_c 8 7 5 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNI7QMB1[12] 11 8 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO[19] 8 9 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[9] 9 8 6 #SB_DFF
set_location LED_Blink_Inst.un6_r_count_10hz_cry_11_c 11 4 2 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_5hz_cry_2_c 7 5 1 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ[7] 12 6 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[23] 8 9 6 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_18_c 11 5 1 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_7_c 12 6 6 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_12_c 8 8 3 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ[15] 7 6 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNO_0[17] 11 5 0 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_10_c 11 4 1 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[5] 8 5 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[17] 11 5 7 #SB_DFF
set_location LED_Blink_Inst.un6_r_count_10hz_cry_3_c 11 3 2 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_13_c 12 7 4 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_15_c 8 8 6 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNI477S[9] 8 6 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[11] 8 8 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[20] 11 5 4 #SB_LUT4
set_location LED_Blink_Inst.r_Toggle_1HZ 9 7 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO[2] 12 6 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[15] 8 8 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[2] 11 3 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[13] 8 8 4 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_1hz_cry_5_c 8 7 4 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNO[22] 12 8 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[9] 11 7 6 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_2hz_cry_4_c 12 6 3 #SB_CARRY
set_location LED_Blink_Inst.r_Count_1HZ_RNO[20] 9 9 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO_0[7] 11 3 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNIVT891[1] 12 4 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[1] 8 5 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNI9JA61[20] 11 5 5 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_5hz_cry_17_c 7 7 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNIE3862[11] 8 6 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO[8] 12 6 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[4] 12 6 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[8] 11 3 7 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ[20] 7 7 3 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ[13] 12 7 4 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_1hz_cry_22_c 8 9 5 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[13] 8 6 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[12] 12 7 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNIR7RG[1] 11 7 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[19] 11 5 2 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_2hz_cry_9_c 12 7 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_10HZ_RNO[5] 11 3 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO_0[9] 11 4 0 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_16_c 11 4 7 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNI5I2E1[3] 8 6 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO[12] 11 8 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[1] 11 6 0 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[21] 8 9 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[12] 8 8 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNI45SP[23] 9 8 4 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_5hz_cry_4_c 7 5 3 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_5hz_cry_14_c 7 6 5 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[16] 7 6 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[13] 8 6 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO[5] 12 6 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[8] 8 7 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[23] 8 9 7 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ[10] 8 8 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[7] 12 3 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ_RNO[7] 8 5 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO[16] 9 8 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[2] 11 3 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[15] 11 4 6 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_2hz_cry_8_c 12 6 7 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_4_c 8 7 3 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNO[21] 12 8 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[17] 8 9 0 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_19_c 11 5 2 #SB_CARRY
set_location LED_Blink_Inst.r_Toggle_5HZ 8 5 7 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[18] 12 8 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO[0] 11 7 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[2] 8 7 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[0] 12 3 0 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_5hz_cry_13_c 7 6 4 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ[2] 7 5 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[22] 12 8 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNIPIKC[6] 11 7 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO[0] 9 7 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[10] 11 4 1 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_5hz_cry_9_c 7 6 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[21] 7 7 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[18] 8 9 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[11] 11 4 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[19] 7 7 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[22] 8 9 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[7] 8 7 6 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_5hz_cry_19_c 7 7 2 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[9] 7 6 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[14] 11 8 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[5] 8 7 4 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_2hz_cry_5_c 12 6 4 #SB_CARRY
set_location LED_Blink_Inst.r_Count_1HZ[18] 9 9 3 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNO[14] 11 4 5 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_12_c 11 4 3 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_5hz_cry_10_c 7 6 1 #SB_CARRY
set_location LED_Blink_Inst.r_Count_1HZ[8] 9 7 0 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_5hz_cry_18_c 7 7 1 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ[8] 8 5 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO[17] 12 9 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[4] 11 7 4 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ[11] 11 7 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNI1U1B[3] 12 3 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO[15] 7 6 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[16] 7 6 7 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[10] 12 7 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNI9UOB1[22] 11 8 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[13] 8 8 4 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNO_0[16] 11 4 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[20] 11 5 4 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ_RNO[4] 7 5 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO[8] 9 7 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO[15] 8 8 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNIQMI71[1] 9 7 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNI23SP[17] 9 9 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[7] 12 3 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[3] 12 6 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ_RNO[18] 7 7 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[11] 7 6 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO[3] 12 6 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[9] 12 7 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[22] 12 8 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ[21] 9 9 4 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ[16] 9 8 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[5] 11 3 4 #SB_DFF
set_location LED_Blink_Inst.un6_r_count_10hz_cry_6_c 11 3 5 #SB_CARRY
set_location LED_Blink_Inst.un6_r_count_10hz_cry_17_c 11 5 0 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_6_c 12 6 5 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_16_c 8 8 7 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[1] 8 5 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[7] 8 5 0 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[10] 8 8 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNI2VI71[4] 9 7 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[13] 11 4 4 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_5hz_cry_15_c 7 6 6 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_1_c 12 6 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNO[19] 11 8 2 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_1hz_cry_3_c 8 7 2 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNI009U[4] 11 7 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[0] 9 7 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNO_0[4] 11 3 3 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_5hz_cry_7_c 7 5 6 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO_0[17] 7 7 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[0] 8 6 0 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[20] 12 8 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[19] 11 8 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[2] 8 7 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[9] 12 4 7 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_8_c 11 3 7 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_5hz_cry_20_c 7 7 3 #SB_CARRY
set_location LED_Blink_Inst.r_Count_10HZ_RNO[13] 11 4 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO[9] 11 7 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[5] 8 7 4 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_5hz_cry_8_c 7 5 7 #SB_CARRY
set_location LED_Blink_Inst.r_Toggle_5HZ_RNO 8 5 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO_0[10] 7 6 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO[14] 11 8 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[12] 11 8 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[7] 8 7 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNIH78T[11] 9 8 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[19] 11 5 2 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_1hz_cry_9_c 8 8 0 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_13_c 8 8 4 #SB_CARRY
set_location LED_Blink_Inst.r_Toggle_1HZ_RNO 9 7 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO[10] 8 6 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNI96LC[1] 8 5 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[16] 12 4 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNIG3C7[4] 12 3 5 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_5hz_cry_16_c 7 6 7 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNITRA6[7] 8 5 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO[18] 9 9 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[4] 12 3 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNIV6J12[8] 12 4 6 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_2_c 11 3 1 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_12_c 12 7 3 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNO[11] 11 7 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[6] 12 6 5 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_5hz_cry_11_c 7 6 2 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[17] 8 6 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNIH2F11[21] 7 7 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[14] 7 6 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO[6] 12 6 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[16] 12 7 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[9] 8 8 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[22] 8 9 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ[11] 9 7 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNI6UGQ[7] 12 4 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[6] 12 3 7 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_1hz_cry_7_c 8 7 6 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[6] 7 5 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNILV051[8] 12 8 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO[17] 9 9 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[1] 12 3 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[16] 12 4 0 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_1hz_cry_10_c 8 8 1 #SB_CARRY
set_location LED_Blink_Inst.r_Toggle_10HZ 12 5 4 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ_RNO_0[8] 7 5 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNII1D11[10] 8 6 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO_0[16] 8 8 7 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_5hz_cry_3_c 7 5 2 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_18_c 8 9 1 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNO[1] 11 6 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[19] 12 8 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNIRKF73[1] 11 8 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[20] 11 8 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ[14] 8 8 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[3] 11 3 2 #SB_DFF
set_location LED_Blink_Inst.un6_r_count_10hz_cry_1_c 11 3 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[3] 7 5 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO_0[18] 7 7 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[5] 8 5 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[12] 9 8 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[11] 11 4 2 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_2hz_cry_19_c 12 8 2 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[20] 7 7 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[8] 12 6 7 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_1hz_cry_17_c 8 9 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_1HZ_RNO[21] 9 9 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[6] 8 7 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNO_0[6] 11 3 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO[8] 8 5 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO_0[5] 7 5 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[17] 12 9 0 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[4] 8 7 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[19] 8 9 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ_RNO[15] 11 4 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNIT5961[11] 12 4 3 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_5hz_cry_6_c 7 5 5 #SB_CARRY
set_location LED_Blink_Inst.r_Count_10HZ[9] 12 4 7 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ[21] 7 7 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO[16] 11 8 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[5] 12 6 4 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ[10] 11 7 7 #SB_DFF
set_location LED_Blink_Inst.un6_r_count_10hz_cry_4_c 11 3 3 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_14_c 12 7 5 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_14_c 8 8 5 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[12] 7 6 3 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[17] 8 6 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[11] 12 7 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[18] 11 5 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[6] 12 3 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO[13] 12 7 4 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location LED_Blink_Inst.un4_r_count_2hz_cry_15_c 12 7 6 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_2_c 8 7 1 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ_RNO[19] 7 7 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO_0[21] 7 7 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO[4] 11 7 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[14] 12 7 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[17] 9 9 5 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[4] 12 3 2 #SB_DFF
set_location LED_Blink_Inst.r_Toggle_2HZ 12 9 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[11] 9 7 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[3] 11 3 2 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_2hz_cry_21_c 12 8 4 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNO[20] 11 8 1 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_7_c 11 3 6 #SB_CARRY
set_location LED_Blink_Inst.un6_r_count_10hz_cry_14_c 11 4 5 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_11_c 8 8 2 #SB_CARRY
set_location LED_Blink_Inst.r_Count_5HZ[3] 7 5 2 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_2hz_cry_2_c 12 6 1 #SB_CARRY
set_location LED_Blink_Inst.r_Count_1HZ_RNI7T7T[10] 9 6 3 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_13_c 11 4 4 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_1hz_cry_19_c 8 9 2 #SB_CARRY
set_location LED_Blink_Inst.r_Count_1HZ[4] 8 7 3 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ_RNO_0[7] 7 5 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[15] 12 7 6 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[6] 8 7 5 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_9_c 11 4 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_10HZ_RNO[17] 11 5 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[9] 7 6 0 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ_RNO[10] 11 7 7 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ_RNO[14] 7 6 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO[7] 12 6 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ_RNO_0[17] 12 8 0 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ[12] 9 8 2 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[9] 9 8 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNO[14] 8 8 5 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[0] 12 3 0 #SB_LUT4
set_location LED_Blink_Inst.un4_r_count_5hz_cry_12_c 7 6 3 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ[2] 12 6 1 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ[10] 8 6 7 #SB_DFF
set_location LED_Blink_Inst.r_Count_2HZ[21] 12 8 4 #SB_DFF
set_location LED_Blink_Inst.r_Count_5HZ_RNO[2] 7 5 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_5HZ[4] 7 5 3 #SB_DFF
set_location LED_Blink_Inst.r_Count_10HZ[12] 12 4 2 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_5hz_cry_1_c 7 5 0 #SB_CARRY
set_location LED_Blink_Inst.r_Count_1HZ[1] 9 7 4 #SB_DFF
set_location LED_Blink_Inst.un4_r_count_1hz_cry_20_c 8 9 3 #SB_CARRY
set_location LED_Blink_Inst.r_Toggle_10HZ_RNO 12 5 4 #SB_LUT4
set_location LED_Blink_Inst.r_Count_2HZ[16] 11 8 0 #SB_DFF
set_location LED_Blink_Inst.r_Count_1HZ_RNO[3] 8 7 2 #SB_LUT4
set_location LED_Blink_Inst.r_Count_1HZ_RNIF0A64[11] 9 8 1 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ_RNO[12] 12 4 2 #SB_LUT4
set_location LED_Blink_Inst.un6_r_count_10hz_cry_15_c 11 4 6 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_16_c 12 7 7 #SB_CARRY
set_location LED_Blink_Inst.un4_r_count_2hz_cry_3_c 12 6 2 #SB_CARRY
set_location LED_Blink_Inst.r_Count_2HZ_RNO[15] 12 7 6 #SB_LUT4
set_location LED_Blink_Inst.r_Count_10HZ[18] 11 5 1 #SB_DFF
set_io o_LED_3 59
set_io o_LED_1 56
set_io i_Clk 15
set_io o_LED_4 60
set_io o_LED_2 57
